<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

   <%= image_tag 'logo1.png' %>
    <h1>Welcome to DiskPlace.com, <%= @user.nick_name %></h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%= @user.nick_name %>.<br>
    </p>
    <p>
      To login to the site, just follow this link:<%= @url %>
    </p>
  <p>Thanks for joining and have a grate day!</p>
  </body>
</html>