<div id="footer">
  <div id="footer-top"></div>
  <div id="footer-middle">
    <div id="middle-content">
      <div class="footer-box">
        <div id="magazine">
          <p>Site was founded in 2018.</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <div class="footer-box">
        <div id="recent-posts">
          <h3><span>Sponsors</span></h3>
          <ul>
            <li><a href="#">Lorem Ipsum is simply dummy text of the printings</a></li>
            <li><a href="#">Lorem Ipsum is simply dummy text of the printing</a></li>
            <li><a href="#">Lorem Ipsum is simply dummy text of the printing</a></li>
            <li><a href="#">Lorem Ipsum is simply dummy text of the printing</a></li>
            <li><a href="#">Lorem Ipsum is simply dummy text of the printing</a></li>
            <li><a href="#">Lorem Ipsum is simply dummy text of the printing</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-box" id="footer-box">
        <div id="archives">
          <h3><span>Links</span></h3>
          <ul>
            <li><a href="#">Lorem Ipsum is simply </a></li>
            <li><a href="#">Lorem Ipsum is simply </a></li>
            <li><a href="#">Lorem Ipsum is simply </a></li>

          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div id="footer-bottom">
    <div id="bottom-content">
      <p class="left">Copyright &copy; 2018 <a href="#">Dplace</a> All Rights Reserved.</p>
      <p class="right">Designed &amp; Developed By <a href="#">Tatarskyy Alexander &amp; Nazar Shtereb</a>.</p>
      <div class="clear"></div>
    </div>
  </div>
</div>