<div id="header">

  <div id="logo-main"><h1>PLACE</h1><div class="clear"></div></div>
  <div id="avatar"><div id="myDropdown" class="dropdown-content"><%= link_to('Logout', logout_path )%></div>
    <span id="avatarname"><%= current_user.nick_name %></span></div>

  <div class="clear"></div>

</div>

