<div id="top-menu">
  <div id="inner-menu">
    <ul>

      <li><%= link_to 'Select all',{}, id: 'sall'  %></li>
      <li><%= link_to 'Unselect',{}, id: 'unsall'  %></li>
      <li><%= link_to 'Share', {},id: 'share'  %></li>

      <li><input id="toggle-on" class="toggle toggle-left" name="toggle" value="false" type="radio" checked>
        <label for="toggle-on" class="btn">By date</label>
        <input id="toggle-off" class="toggle toggle-right" name="toggle" value="true" type="radio">
        <label for="toggle-off" class="btn">By name</label></li>
    </ul>

  </div>
</div>
